:root {
  --Maastricht-Blue: #081b33;
  --Maastricht-Blue-Rgb: 8, 27, 51;
  --Yankees-Blue: #152642;
  --Yankees-Blue-Rgb: 21, 38, 66;
  --Police-Blue: #2f4562;
  --Police-Blue-Rgb: 47, 69, 98;
  --Dark-Electric-Blue: #506680;
  --Dark-Electric-Blue-Rgb: 80, 102, 128;
  --Slate-Gray: #767d92;

  --Dark-Goldenrod: #b8860b;
  --Dark-Goldenrod-Rgb: 184, 134, 11;
  --Goldenrod: #daa520;
  --Goldenrod-Rgb: 218, 165, 32;
  --Maize: #f1c84c;
  --Maize-Rgb: 241, 200, 76;

  --White: #ffffff;
  --White-Rgb: 255, 255, 255;
}

html[dir] body.dark {
  background-image: linear-gradient(180deg, var(--Yankees-Blue), var(--Maastricht-Blue)) !important
}

#initial_startup, #startup {
  background-color: var(--Maastricht-Blue) !important;
}

.dark ._1m6L6:first-child {
  background-image: linear-gradient(180deg, var(--Yankees-Blue), var(--Maastricht-Blue)) !important;
  background-color: var(--Maastricht-Blue) !important;
}

html[dir] .dark ::-webkit-scrollbar-thumb {
  background-color: var(--Goldenrod) !important;
}

html[dir] .dark ._3qx7_ {
  background-color: var(--Maastricht-Blue) !important;
}

html[dir] .dark ._2a60W{
  background-color: var(--Police-Blue) !important;
}

html[dir] .dark ._2T-91 {
  background-color: var(--Yankees-Blue) !important;
}

.dark ._3JuBL ._3SrqU {
  opacity: 1 !important;
}

.dark ._5MCSh::first-line {
  background-color: var(--Maastricht-Blue) !important;
}
html[dir="ltr"] .dark .aGjYp._1oeQS:after {
  left: 0 !important;
}

html[dir] .dark ._1ByLM {
  border-top: none !important;
}

/* #region Progress */

.dark progress {
  background: var(--Dark-Electric-Blue) !important;
}

.dark progress::-webkit-progress-value {
  background: var(--Goldenrod) !important;
}

.dark progress::-moz-progress-bar {
  background: var(--Goldenrod) !important;
}

.dark progress::-webkit-progress-value {
  background: var(--Goldenrod) !important;
}

.dark progress::-webkit-progress-bar {
  background: var(--Dark-Electric-Blue) !important;
}

/* #endregion Progress*/

.dark {
  --active-tab-marker: var(--Goldenrod) !important;
  --active-tab-marker-rgb: var(--Goldenrod-Rgb) !important;
  --app-background: var(--Maastricht-Blue) !important;
  --app-background-rgb: var(--Maastricht-Blue-Rgb) !important;
  --app-background-deeper: var(--Maastricht-Blue) !important;
  --app-background-deeper-rgb: var(--Maastricht-Blue-Rgb) !important;
  --app-background-stripe: transparent;
  --app-background-stripe-rgb: 0, 0, 0;
  --audio-progress-incoming: #3cb362;
  --audio-progress-incoming-rgb: 60, 179, 98;
  --audio-progress-outgoing: #5f8884;
  --audio-progress-outgoing-rgb: 95, 136, 132;
  --audio-progress-played-incoming: #5ca0c2;
  --audio-progress-played-incoming-rgb: 92, 160, 194;
  --audio-progress-played-outgoing: #55a5c5;
  --audio-progress-played-outgoing-rgb: 85, 165, 197;
  --audio-track-incoming: #3b4044;
  --audio-track-incoming-rgb: 59, 64, 68;
  --audio-track-outgoing: #1d5852;
  --audio-track-outgoing-rgb: 29, 88, 82;
  --avatar-background: #131c21;
  --avatar-background-rgb: 18.6, 28.22, 33.4;
  --avatar-border: #a5aaad;
  --avatar-border-rgb: 165, 170, 173;
  --avatar-placeholder-background: var(--Police-Blue) !important;
  --avatar-placeholder-background-rgb: var(--Police-Blue-Rgb) !important;
  --avatar-placeholder-primary: #d6d7d9;
  --avatar-placeholder-primary-rgb: 214, 215, 217;
  --background-default: var(--Maastricht-Blue) !important;
  --background-default-rgb: var(--Maastricht-Blue-Rgb) !important;
  --background-default-active: var(--Maastricht-Blue) !important;
  --background-default-active-rgb: var(--Maastricht-Blue-Rgb) !important;
  --background-default-hover: var(--Police-Blue) !important;
  --background-default-hover-rgb: var(--Police-Blue-Rgb) !important;
  --beige-rgb: var(--Police-Blue-Rgb) !important;
  --border-bubble: rgba(241, 241, 242, 0.12);
  --border-bubble-rgb: 241, 241, 242;
  --border-default: var(--Yankees-Blue) !important;
  --border-default-rgb: var(--Yankees-Blue-Rgb) !important;
  --border-list: transparent !important;
  --border-list-rgb: 41, 49, 54;
  --border-panel: transparent !important;
  --border-panel-rgb: 48, 55, 59;
  --border-strong: var(--Police-Blue) !important;
  --border-strong-rgb: var(--Police-Blue-Rgb) !important;
  --border-stronger: rgba(241, 241, 242, 0.11);
  --border-stronger-rgb: 241, 241, 242;
  --bubble-meta: rgba(241, 241, 242, 0.63);
  --bubble-meta-rgb: 241, 241, 242;
  --bubble-meta-icon: rgba(241, 241, 242, 0.63);
  --bubble-meta-icon-rgb: 241, 241, 242;
  --butterbar-battery-background: #e05b52;
  --butterbar-battery-background-rgb: 224, 91, 82;
  --butterbar-battery-primary: rgba(241, 241, 242, 0.96);
  --butterbar-battery-primary-rgb: 241, 241, 242;
  --butterbar-battery-secondary: rgba(241, 241, 242, 0.8);
  --butterbar-battery-secondary-rgb: 241, 241, 242;
  --butterbar-connection-background: var(--Dark-Goldenrod) !important;
  --butterbar-connection-background-rgb: var(--Dark-Goldenrod-Rgb) !important;
  --butterbar-connection-primary: white !important;
  --butterbar-connection-primary-rgb: var(--White-Rgb) !important;
  --butterbar-connection-secondary: white !important;
  --butterbar-connection-secondary-rgb: var(--White-Rgb) !important;
  --butterbar-default-background: var(--Police-Blue) !important;
  --butterbar-default-background-rgb: var(--Police-Blue-Rgb) !important;
  --butterbar-icon: rgba(241, 241, 242, 0.8);
  --butterbar-icon-rgb: 241, 241, 242;
  --butterbar-primary: rgba(241, 241, 242, 0.96);
  --butterbar-primary-rgb: 241, 241, 242;
  --butterbar-secondary: rgba(241, 241, 242, 0.85);
  --butterbar-secondary-rgb: 241, 241, 242;
  --butterbar-update-background: #00af9c;
  --butterbar-update-background-rgb: 0, 175, 156;
  --button-alternative: #68bbe4;
  --button-alternative-rgb: 104, 187, 228;
  --button-alternative-background: var(--Maastricht-Blue) !important;
  --button-alternative-background-rgb: var(--Maastricht-Blue-Rgb) !important;
  --button-background-disabled: #2a2f32;
  --button-background-disabled-rgb: 41.6, 47.46667, 50.4;
  --button-bubble: rgba(0, 175, 156, 0.7);
  --button-bubble-rgb: 0, 175, 156;
  --button-primary: #131c21;
  --button-primary-rgb: 18.6, 28.22, 33.4;
  --button-primary-background: var(--Dark-Goldenrod) !important;
  --button-primary-background-rgb: var(--Dark-Goldenrod-Rgb) !important;
  --button-primary-background-hover: var(--Goldenrod) !important;
  --button-primary-background-hover-rgb: var(--Goldenrod-Rgb) !important;
  --button-round-background: var(--Goldenrod) !important;
  --button-round-background-rgb: var(--Goldenrod-Rgb) !important;
  --button-secondary: var(--Goldenrod) !important;
  --button-secondary-rgb: var(--Goldenrod-Rgb) !important;
  --button-secondary-background: transparent;
  --button-secondary-background-rgb: 0, 0, 0;
  --button-secondary-background-hover: rgba(241, 241, 242, 0.05);
  --button-secondary-background-hover-rgb: 241, 241, 242;
  --button-secondary-hover: var(--Dark-Goldenrod) !important;
  --button-secondary-hover-rgb: var(--Dark-Goldenrod-Rgb) !important;
  --chat-marker: #999;
  --chat-marker-rgb: 153, 153, 153;
  --chat-marker-admin: var(--Goldenrod) !important;
  --chat-marker-admin-rgb: var(--Goldenrod-Rgb) !important;
  --chat-marker-admin-border: var(--Goldenrod) !important;
  --chat-marker-admin-border-rgb: var(--Goldenrod-Rgb) !important;
  --chat-marker-border: hsla(0, 0%, 60%, 0.7);
  --chat-marker-border-rgb: 153, 153, 153;
  --chatlist-icon: rgba(241, 241, 242, 0.63);
  --chatlist-icon-rgb: 241, 241, 242;
  --checkbox-background: var(--Goldenrod) !important;
  --checkbox-background-rgb: var(--Goldenrod-Rgb) !important;
  --checkbox-mark: white !important;
  --checkbox-mark-rgb: var(--White-Rgb) !important;
  --compose-background: var(--Police-Blue) !important;
  --compose-background-rgb: var(--Police-Blue-Rgb) !important;
  --compose-background-focused: #213945;
  --compose-background-focused-rgb: 33, 57, 69;
  --compose-border: var(--Police-Blue) !important;
  --compose-border-rgb: var(--Police-Blue-Rgb) !important;
  --compose-border-focused: #294654;
  --compose-border-focused-rgb: 41, 70, 84;
  --compose-input-background: var(--Police-Blue) !important;
  --compose-input-border: var(--Police-Blue) !important;
  --compose-panel-background: #1e2428;
  --compose-panel-background-rgb: 29.591, 36.36026, 40.309;
  --compose-primary: white !important;
  --compose-primary-rgb: var(--White-Rgb) !important;
  --conversation-panel-background: var(--Maastricht-Blue) !important;
  --conversation-panel-background-rgb: var(--Maastricht-Blue-Rgb) !important;
  --conversation-panel-border: rgba(241, 241, 242, 0.12);
  --conversation-panel-border-rgb: 241, 241, 242;
  --danger: #ef697a;
  --danger-rgb: 239, 105, 122;
  --drawer-background: var(--Maastricht-Blue) !important;
  --drawer-background-rgb: var(--Maastricht-Blue-Rgb) !important;
  --drawer-background-deep: var(--Maastricht-Blue) !important;
  --drawer-background-deep-rgb: var(--Maastricht-Blue-Rgb) !important;
  --drawer-gallery-background: var(--Maastricht-Blue) !important;
  --drawer-gallery-background-rgb: var(--Maastricht-Blue-Rgb) !important;
  --drawer-gallery-background-hover: var(--Yankees-Blue) !important;
  --drawer-header-title: var(--White) !important;
  --drawer-header-title-rgb: var(--White-Rgb) !important;
  --drawer-section-background: var(--Maastricht-Blue) !important;
  --drawer-section-background-rgb: var(--Maastricht-Blue-Rgb) !important;
  --dropdown-background: var(--Yankees-Blue) !important;
  --dropdown-background-rgb: var(--Yankees-Blue-Rgb) !important;
  --dropdown-background-hover: var(--Police-Blue) !important;
  --dropdown-background-hover-rgb: var(--Police-Blue-Rgb) !important;
  --empty-state-background: var(--Police-Blue) !important;
  --empty-state-background-rgb: var(--Police-Blue-Rgb) !important;
  --empty-state-icon: #777c7f;
  --empty-state-icon-rgb: 119, 124, 127;
  --focus: #68bbe4;
  --focus-rgb: 104, 187, 228;
  --focus-animation: rgba(104, 187, 228, 0.26);
  --focus-animation-rgb: 104, 187, 228;
  --focus-animation-deeper: rgba(104, 187, 228, 0.32);
  --focus-animation-deeper-rgb: 104, 187, 228;
  --focus-lighter: rgba(104, 187, 228, 0.12);
  --focus-lighter-rgb: 104, 187, 228;
  --gray-600: white !important;
  --gray-900-rgb: var(--Maastricht-Blue-Rgb) !important;
  --green-deep: var(--Goldenrod) !important;
  --green-deep-rgb: var(--Goldenrod-Rgb) !important;
  --highlight: var(--Goldenrod) !important;
  --highlight-rgb: var(--Goldenrod-Rgb) !important;
  --icon: var(--White) !important;
  --icon-rgb: var(--White-Rgb) !important;
  --icon-ack: var(--Goldenrod) !important;
  --icon-ack-rgb: var(--Goldenrod-Rgb) !important;
  --icon-disabled: white !important;
  --icon-disabled-rgb: var(--White-Rgb) !important;
  --icon-fixed: #828689;
  --icon-fixed-rgb: 130, 134, 137;
  --icon-lighter: rgba(241, 241, 242, 0.801) !important;
  --icon-lighter-rgb: 241, 241, 242 !important;
  --icon-search-back: #73787b;
  --icon-search-back-rgb: 115, 120, 123;
  --icon-strong: #c5c6c8;
  --icon-strong-rgb: 197, 198, 200;
  --incoming-background: var(--Police-Blue) !important;
  --incoming-background-rgb: var(--Police-Blue-Rgb) !important;
  --incoming-background-deeper: var(--Yankees-Blue) !important;
  --incoming-background-deeper-rgb: var(--Yankees-Blue-Rgb) !important;;
  --incoming-background-highlight: #ccc;
  --incoming-background-highlight-rgb: 204, 204, 204;
  --incoming-primary: white !important;
  --incoming-primary-rgb: var(--White-Rgb) !important;
  --input-border-active: var(--Goldenrod) !important;
  --input-border-active-rgb: var(--Goldenrod-Rgb) !important;
  --input-placeholder: white !important;
  --input-placeholder-rgb: var(--White-Rgb) !important;
  --intro-background: var(--Maastricht-Blue) !important;
  --intro-background-rgb: var(--Maastricht-Blue-Rgb) !important;
  --intro-border: var(--Goldenrod) !important;
  --intro-border-rgb: var(--Goldenrod-Rgb) !important;
  --intro-secondary: #a6a8aa;
  --intro-secondary-rgb: 166, 168, 170;
  --inverse: white !important;
  --inverse-rgb: var(--White-Rgb) !important;
  --labels-icon: rgba(241, 241, 242, 0.4);
  --labels-icon-rgb: 241, 241, 242;
  --link: #68bbe4;
  --link-rgb: 104, 187, 228;
  --live-location-footer-background: rgba(19, 28, 33, 0.9);
  --live-location-footer-background-rgb: 18.6, 28.22, 33.4;
  --live-location-glow: rgba(37, 211, 102, 0.3);
  --live-location-glow-rgb: 37, 211, 102;
  --live-location-glow-stale: rgba(255, 0, 31, 0.3);
  --live-location-glow-stale-rgb: 255, 0, 31;
  --location-cluster-background: #131c21;
  --location-cluster-background-rgb: 18.6, 28.22, 33.4;
  --media-editor-control: #1c313f;
  --media-editor-control-rgb: 28, 49, 63;
  --media-viewer-background: var(--Maastricht-Blue) !important;
  --media-viewer-background-rgb: var(--Maastricht-Blue-Rgb) !important;
  --media-viewer-button-background: var(--Police-Blue) !important;
  --media-viewer-button-background-rgb: var(--Police-Blue-Rgb) !important;
  --media-viewer-button-icon: #f1f1f2;
  --media-viewer-button-icon-rgb: 241, 241, 242;
  --menu-tabs-list-active: var(--Dark-Goldenrod) !important;
  --menu-tabs-list-active-rgb: var(--Dark-Goldenrod-Rgb) !important;
  --message-background-deep: rgba(9, 14, 17, 0.35);
  --message-background-deep-rgb: 9.3, 13.74, 16.7;
  --message-placeholder-icon: hsla(0, 0%, 80%, 0.3);
  --message-placeholder-icon-rgb: 204, 204, 204;
  --message-primary: rgba(241, 241, 242, 0.95);
  --message-primary-rgb: 241, 241, 242;
  --message-selection-highlight: rgba(241, 241, 242, 0.05);
  --message-selection-highlight-rgb: 241, 241, 242;
  --modal-backdrop: rgba(var(--Maastricht-Blue-Rgb), 0.85) !important;
  --modal-backdrop-rgb: var(--Maastricht-Blue-Rgb) !important;
  --modal-backdrop-solid: var(--Maastricht-Blue) !important;
  --modal-backdrop-solid-rgb: var(--Maastricht-Blue-Rgb) !important;
  --modal-background: var(--Yankees-Blue) !important;
  --modal-background-rgb: var(--Yankees-Blue-Rgb) !important;
  --notification-biz-background: #20272b;
  --notification-biz-background-rgb: 31.75, 39.01316, 43.25;
  --notification-biz-text: #55fad9;
  --notification-biz-text-rgb: 85, 250, 217;
  --notification-e2e-background: var(--Police-Blue) !important;
  --notification-e2e-background-rgb: var(--Police-Blue-Rgb) !important;
  --notification-e2e-icon: #fad964;
  --notification-e2e-icon-rgb: 250, 217, 100;
  --notification-e2e-text: #fad964;
  --notification-e2e-text-rgb: 250, 217, 100;
  --notification-text: rgba(241, 241, 242, 0.4);
  --notification-text-rgb: 241, 241, 242;
  --outgoing-background: var(--Yankees-Blue) !important;
  --outgoing-background-rgb: var(--Yankees-Blue-Rgb) !important;
  --outgoing-background-deeper: var(--Police-Blue) !important;
  --outgoing-background-deeper-rgb: var(--Police-Blue-Rgb) !important;
  --outgoing-background-highlight: #ccc;
  --outgoing-background-highlight-rgb: 204, 204, 204;
  --overlay: #090e11;
  --overlay-rgb: 9.3, 13.74, 16.7;
  --panel-background: var(--Yankees-Blue) !important;
  --panel-background-rgb: var(--Yankees-Blue-Rgb) !important;
  --panel-background-active: #1e2529;
  --panel-background-active-rgb: 30, 37, 41;
  --panel-background-colored: var(--Goldenrod) !important;
  --panel-background-colored-rgb: var(--Goldenrod-Rgb) !important;
  --panel-background-colored-deeper: var(--Goldenrod) !important;
  --panel-background-colored-deeper-rgb: var(--Goldenrod-Rgb) !important;
  --panel-background-deep: var(--Police-Blue) !important;
  --panel-background-deep-rgb: var(--Police-Blue-Rgb) !important;
  --panel-background-deeper: var(--Maastricht-Blue) !important;
  --panel-background-deeper-rgb: var(--Maastricht-Blue-Rgb) !important;
  --panel-background-hover: #1f262a;
  --panel-background-hover-rgb: 31, 38, 42;
  --panel-background-lighter: var(--Maastricht-Blue) !important;
  --panel-background-lighter-rgb: var(--Maastricht-Blue-Rgb) !important;
  --panel-header-background: var(--Maastricht-Blue) !important;
  --panel-header-background-rgb: var(--Maastricht-Blue-Rgb) !important;
  --panel-header-icon: #b1b3b5;
  --panel-header-icon-rgb: 177, 179, 181;
  --panel-input-background: var(--Police-Blue) !important;
  --panel-primary: rgba(241, 241, 242, 0.35);
  --panel-primary-rgb: 241, 241, 242;
  --payment-amount: #00a593;
  --payment-amount-rgb: 0, 164.8, 146.90743;
  --payment-status-failed: #ef697a;
  --payment-status-failed-rgb: 239, 105, 122;
  --payment-status-processing: rgba(241, 241, 242, 0.45);
  --payment-status-processing-rgb: 241, 241, 242;
  --payment-status-success: #40cf6c;
  --payment-status-success-rgb: 64, 207, 108;
  --payment-status-waiting: rgba(241, 241, 242, 0.45);
  --payment-status-waiting-rgb: 241, 241, 242;
  --photopicker-overlay-background: rgba(35, 43, 47, 0.8);
  --photopicker-overlay-background-rgb: 35, 43, 47;
  --popup-panel-background: rgba(9, 14, 17, 0.2);
  --popup-panel-background-rgb: 9.3, 13.74, 16.7;
  --primary: #d4d5d7;
  --primary-rgb: 212, 213, 215;
  --primary-strong: rgba(241, 241, 242, 0.92);
  --primary-strong-rgb: 241, 241, 242;
  --primary-stronger: rgba(241, 241, 242, 0.88);
  --primary-stronger-rgb: 241, 241, 242;
  --primary-title: rgba(241, 241, 242, 0.88);
  --primary-title-rgb: 241, 241, 242;
  --product-thumb-background: #20272b;
  --product-thumb-background-rgb: 31.75, 39.01316, 43.25;
  --product-thumb-background-deeper: #313c43;
  --product-thumb-background-deeper-rgb: 49.022, 60.23632, 66.778;
  --progress-background: #2a2f32;
  --progress-background-rgb: 41.6, 47.46667, 50.4;
  --progress-primary: #0c897c;
  --progress-primary-rgb: 12, 137, 124;
  --ptt-blue: #4fc3f7;
  --ptt-blue-rgb: 79, 195, 247;
  --ptt-button-cancel: rgba(229, 57, 53, 0.8);
  --ptt-button-cancel-rgb: 229, 57, 53;
  --ptt-button-send: rgba(9, 210, 97, 0.8);
  --ptt-button-send-rgb: 9, 210, 97;
  --ptt-gray: rgba(241, 241, 242, 0.4);
  --ptt-gray-rgb: 241, 241, 242;
  --ptt-green: #09d261;
  --ptt-green-rgb: 9, 210, 97;
  --ptt-message-blue: #68bbe4;
  --ptt-message-blue-rgb: 104, 187, 228;
  --quick-action-button: rgba(241, 241, 242, 0.5);
  --quick-action-button-rgb: 241, 241, 242;
  --quick-action-button-background: rgba(9, 14, 17, 0.6);
  --quick-action-button-background-rgb: 9.3, 13.74, 16.7;
  --rich-text-panel-background: var(--Yankees-Blue) !important;
  --rich-text-panel-background-rgb: var(--Yankees-Blue-Rgb) !important;
  --search-input-background: var(--Yankees-Blue) !important;
  --search-input-background-rgb: var(--Yankees-Blue-Rgb) !important;
  --secondary: rgba(241, 241, 242, 0.63);
  --secondary-rgb: 241, 241, 242;
  --secondary-light: white !important;
  --secondary-light-rgb: var(--White-Rgb) !important;
  --secondary-lighter: white !important;
  --secondary-lighter-rgb: var(--White-Rgb) !important;
  --secondary-stronger: rgba(241, 241, 242, 0.8);
  --secondary-stronger-rgb: 241, 241, 242;
  --shadow: #000;
  --shadow-rgb: 0, 0, 0;
  --shadow-light: rgba(0, 0, 0, 0.08);
  --shadow-light-rgb: 0, 0, 0;
  --spinner-default: #75787a;
  --spinner-default-rgb: 117, 120, 122;
  --spinner-highlight: var(--Goldenrod) !important;
  --spinner-highlight-rgb: var(--Goldenrod-Rgb) !important;
  --spinner-incoming: #63686b;
  --spinner-incoming-rgb: 99, 104, 107;
  --spinner-outgoing: #4c7a75;
  --spinner-outgoing-rgb: 76, 122, 117;
  --startup-background: var(--Maastricht-Blue) !important;
  --startup-background-rgb: var(--Maastricht-Blue-Rgb) !important;
  --status-background: var(--Maastricht-Blue) !important;
  --status-background-rgb: var(--Maastricht-Blue-Rgb) !important;
  --status-background-hover: var(--Police-Blue) !important;
  --status-background-hover-rgb: var(--Police-Blue-Rgb) !important;
  --status-primary: #fff;
  --status-primary-rgb: 255, 255, 255;
  --status-secondary: hsla(0, 0%, 100%, 0.55);
  --status-secondary-rgb: 255, 255, 255;
  --status-secondary-stronger: #b3b3b3;
  --status-secondary-stronger-rgb: 179, 179, 179;
  --success: var(--Goldenrod) !important;
  --success-rgb: var(--Goldenrod-Rgb) !important;
  --suspicious-background: rgba(239, 105, 122, 0.8);
  --suspicious-background-rgb: 239, 105, 122;
  --system-message-background: var(--Police-Blue) !important;
  --system-message-background-rgb: var(--Police-Blue-Rgb) !important;
  --system-message-text: rgba(241, 241, 242, 0.92);
  --system-message-text-rgb: 241, 241, 242;
  --teal: var(--Goldenrod) !important;
  --teal-rgb: var(--Goldenrod-Rgb) !important;
  --teal-hover: #00b7a1;
  --teal-hover-rgb: 0, 183, 161;
  --teal-pale: var(--Goldenrod) !important;
  --teal-pale-rgb: var(--Goldenrod-Rgb) !important;
  --thumb-border-active: #75787a;
  --thumb-border-active-rgb: 117, 120, 122;
  --thumb-border-viewer-active: #75787a;
  --thumb-border-viewer-active-rgb: 117, 120, 122;
  --toast-background: rgba(var(--Yankees-Blue-Rgb), 0.96) !important;
  --toast-background-rgb: 9.3, 13.74, 16.7;
  --tooltip-background: rgba(43, 45, 47, 0.85);
  --tooltip-background-rgb: 42.60978, 45.37948, 46.89022;
  --typing: var(--Goldenrod) !important;
  --typing-rgb: var(--Goldenrod-Rgb) !important;
  --unread-background: var(--Goldenrod) !important;
  --unread-background-rgb: var(--Goldenrod-Rgb) !important;
  --unread-bar-background: rgba(var(--Goldenrod-Rgb), 0.6) !important;
  --unread-bar-background-rgb: var(--Goldenrod-Rgb) !important;
  --unread-marker-background: var(--Goldenrod) !important;
  --unread-marker-background-rgb: var(--Goldenrod-Rgb) !important;
  --unread-marker-text: #131c21;
  --unread-marker-text-rgb: 18.6, 28.22, 33.4;
  --video-player-background: #000;
  --video-player-background-rgb: 0, 0, 0;
  --video-primary: #fff;
  --video-primary-rgb: 255, 255, 255;
  --voip-accept-background: #70db91;
  --voip-accept-background-rgb: 112, 219, 145;
  --voip-background: #262626;
  --voip-background-rgb: 38, 38, 38;
  --voip-background-deep: #000;
  --voip-background-deep-rgb: 0, 0, 0;
  --voip-primary: #fff;
  --voip-primary-rgb: 255, 255, 255;
  --voip-reject-background: #e54b40;
  --voip-reject-background-rgb: 229, 75, 64;
  --win32-title-primary: #fff;
  --win32-title-primary-rgb: 255, 255, 255;
}

.web {
  --startup-background: var(--Maastricht-Blue) !important;
  --startup-background-rgb: var(--Maastricht-Blue-Rgb) !important;
}

/*Icons*/
.dark
  span[data-icon="checkbox-round-checked"]
  path[d="M10 .25c5.385 0 9.75 4.365 9.75 9.75s-4.365 9.75-9.75 9.75S.25 15.385.25 10 4.615.25 10 .25z"], .dark span[data-icon="status-v3-unread"] path[d="M19 1.5a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"] {
  fill: var(--Goldenrod) !important;
}

/*QR Code Window*/
html[dir] .dark .landing-wrapper:before {
  background-color: var(--Dark-Goldenrod) !important;
}

html[dir] .dark .landing-window {
  background-color: var(--Yankees-Blue) !important;
}

.dark .landing-title {
  color: white !important;
}

html[dir] .dark ._1QMFu{
  border: 5px solid white !important;
}