body {
    background-color: #081B33 !important;
    color: #ffffff !important;
    background-image: linear-gradient(180deg, #081B33, #081B33) !important;
}

/*Progress*/

progress {
    background: #DAA520 !important;
}

progress {
    color: lightblue !important;
}

progress::-webkit-progress-value {
    background: lightblue !important;
}

progress::-moz-progress-bar {
    background: lightcolor !important;
}

progress::-webkit-progress-value {
    background: #DAA520 !important;
}

progress::-webkit-progress-bar {
    background: #506680 !important;
}

/*Progress*/

html[dir] ._3jHKU {
    background-color: #DAA520 !important;
}

html[dir] .qTFAl._3Z2tD, html[dir] .qTFAl:hover {
    background-color: rgba(184, 134, 11, .1) !important;
}

html[dir] ._1ccjW:after, html[dir] ._3PQ7V, html[dir] ._1puWZ, html[dir] ._2xikZ, ._15wNI, html[dir] .landing-wrapper:before, html[dir] ._27U_m:before, html[dir] ._2XHj8, html[dir] ._3D31H, html[dir] ._22oFl {
    background-color: #B8860B !important;
}

html[dir] ._1WMT2:before, html[dir] ._3RWII {
    background-color: transparent !important;
}

._15wNI, html[dir] ._1qNwV:after {
    border-color: #B8860B !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(184, 134, 11) !important;
}

::-webkit-scrollbar-track {
    background: #152642 !important;
}

html[dir] ._1qNwV, html[dir] ._3RiLE, #initial_startup, #startup, html[dir] ._3Fq9Y.iEUx2, html[dir] ._1T8rb, html[dir] .NuujD, html[dir] .NeQRT {
    background-color: #081B33 !important;
}

/*Image*/

[data-asset-intro-image] {
    background-image: url(https://raw.githubusercontent.com/Cuberkam/cuberkam.github.io/master/intro-connection_c98cc75f2aa905314d74375a975d2cf2.png) !important;
}

html[dir=ltr] .message-out .tail-container {
    background-image: url(https://raw.githubusercontent.com/Cuberkam/cuberkam.github.io/master/right.png) !important;
}

html[dir=ltr] .message-in .tail-container, html[dir=ltr] .message-in .tail-override-left .tail-container, html[dir=ltr] .message-in .tail-override-right .tail-container, html[dir=ltr] .message-out .tail-override-right .tail-container, html[dir=ltr] .message-out .tail-override-left .tail-container {
    background-image: url(https://raw.githubusercontent.com/Cuberkam/cuberkam.github.io/master/left.png) !important;
}

[data-asset-chat-background] {
    /*.fzCXy*/
    background-image: url(https://raw.githubusercontent.com/Cuberkam/cuberkam.github.io/master/bg-chat-tile_9e8a2898faedb7db9bf5638405cf81a.png) !important;
}

._3XqhJ {
    background-image: url(https://raw.githubusercontent.com/Cuberkam/cuberkam.github.io/master/animated-doodle_600127bdb5f7627ede5cd4ef320f55b0.png) !important;
}

/*Image*/

.Qk8nZ, .tzihe, .Jeekp, ._2HHbr, .Sl-9e, ._1zGQT, html[dir=ltr] ._3MYI2, ._1o0MN, ._35Zop:before, ._2JIoO, ._28Bny, ._3H4MS, .xD91K, ._0LqQ, ._3dwyT, input, ._1qWhd, ._13U-5, ._2V2qB, ._6xQdq, .Fzl83:before, .bHCVK, ._357v7, select, ._3u328 .copyable-text .selectable-text, ._1wt6r, ._19vo_, ._1drsQ, .kiodY .kyJvR, .a7otO, ._3qb2N, ._2gliA, .landing-title, ._3uHCS, div[class="_2Bfgm _2MyYN"], .i1XSV._3Q3ui, .jLybP:before, .Y1iVg, ._2XHj8 .nGgVY, ._3RQIp, ._2cR8w, ._17hud, .JmH7x, ._2IHkF, ._3JxFB, ._23MBZ, ._3fktq, ._1lxsr, ._2NdXo, ._8fE-g, ._2v02G, ._12pGw strong, ._2LRBk, ._1goQ0 {
    color: #ffffff !important;
}

html[dir] .jZhyM {
    border-radius: 0% !important;
}

._1qNwV a, ._3Nnrl, ._23_1v {
    color: #B8860B !important;
}

a, html[dir] .color-1, .r7sRK, .matched-text, ._3he1q, ._1T8rb, ._2wn58, html[dir=ltr] ._1uQFN, .ZObjg, .Ir_Ne, ._1Jc9f, .FPZFa, ._2ZAIy {
    color: #DAA520 !important;
}

html[dir] .bg-color-1, html[dir] ._3PQ7V:hover, html[dir] .P6z4j, html[dir] .Orl3a, html[dir] ._27U_m, html[dir] ._1g8sv, html[dir] ._1WD8C {
    background-color: #DAA520 !important;
}

html[dir] ._3UTE3 {
    border-color: #767D92 !important;
}

._2xbq0 {
    color: inherit !important;
}

html[dir] ._23_1v:hover, html[dir] ._3BqnP._3VXiW, html[dir] .message-in ._2Wx_5, html[dir] ._1sFYw, html[dir] ._2UaNq._3mMX1, html[dir] .eiCXe, html[dir] ._2zCfw, html[dir] ._1WMT2._1lakC, html[dir] ._1WMT2._2nA3s, html[dir] ._26JG5:hover, option, html[dir] ._2hMsh, html[dir] ._1i7uJ, html[dir] .message-out ._2Wx_5, html[dir] .gxf3C, html[dir] .message-in ._2Hp95 ._3qAvH, html[dir] .a7otO, html[dir] ._2sOZc, html[dir] ._3KRbU {
    background-color: #2F4562 !important;
}

._3PQ7V, ._3MYI2, ._3jHKU, .P6z4j, .Y1iVg._3caqI, ._3D31H, ._22oFl, ._1WD8C {
    color: #081B33 !important;
}

html[dir] ._2n0jo, html[dir] ._1WMT2._1lakC:after, html[dir] ._3Jvyf, html[dir] ._2hHc6, html[dir] .ZP8RM, html[dir] ._1HjMu, html[dir] .cGLoy, html[dir] ._2UaNq, html[dir] .r7sRK, html[dir] ._1YoG6, .rK2ei, html[dir] ._1w-mX, html[dir] ._2LSbZ, html[dir] ._26JG5, html[dir] ._3fs0K, html[dir] ._2i7Ej, html[dir] ._13mgZ, html[dir] ._2avTY, html[dir] ._2Qm0c, html[dir] ._1mJO-, html[dir=ltr] ._3HCkv, html[dir=rtl] ._3HCkv, html[dir] .RxbUw, html[dir] .kiodY, html[dir=ltr] ._2xINO, html[dir] ._2aUit, html[dir] ._3vndg, html[dir] .s4BtI, html[dir] ._19YfI, html[dir] .jqdrp, html[dir] ._1ebw2, html[dir] .OWYLS, html[dir] ._2sn3C, html[dir] ._3fktq, html[dir] .landing-main {
    background-color: #152642 !important;
}

html[dir] ._3Fq9Y {
    background-color: rgba(21, 38, 66, .85) !important;
}

div[tabindex="-1"] ._1WMT2 {
    border-top: 1px solid #2F4562 !important;
}

html[dir] ._13mgZ {
    border: 1px solid #767D92 !important;
}

html[dir] ._2LSbZ {
    box-shadow: 0 1px 3px #152642 !important;
}

html[dir] ._2rGVQ {
    background: #152642 !important;
}

html[dir] ._2UaNq._3mMX1:after, html[dir] ._2UaNq:hover:after, .hover {
    border-top: none !important;
    border-bottom: none !important;
}

html[dir] ._2UaNq {
    border-top: 1px solid #2F4562 !important;
    border-bottom: 1px solid #2F4562 !important;
}

html[dir] .cGLoy {
    border-bottom: 1px solid #2F4562 !important;
}

._3yudO {
    stroke: #DAA520 !important;
}

html[dir] ._2WP9Q, html[dir] ._2n0jo {
    border-top: none !important;
}

.X7YrQ {
    z-index: 0 !important;
}

.qfKkX path, ._3p0T6 path, ._3f5U8 span[data-icon="x"] path, ._2VVfP span[data-icon="msg-dblcheck"] path, span[data-icon="menu-white"] path, span[data-icon="audio-download"] path {
    fill: #081B33 !important;
}

span[data-icon="default-group"] path[d="M105.946.25C164.318.25 211.64 47.596 211.64 106s-47.322 105.75-105.695 105.75C47.571 211.75.25 164.404.25 106S47.571.25 105.946.25z"]{
    fill: #2F4562 !important;
}
span[data-icon="default-group"] path[d="M61.543 100.988c8.073 0 14.246-6.174 14.246-14.246s-6.173-14.246-14.246-14.246-14.246 6.173-14.246 14.246 6.174 14.246 14.246 14.246zm8.159 17.541a48.192 48.192 0 0 1 8.545-6.062c-4.174-2.217-9.641-3.859-16.704-3.859-21.844 0-28.492 15.67-28.492 15.67v8.073h26.181l.105-.248c.303-.713 3.164-7.151 10.365-13.574zm80.755-9.921c-6.854 0-12.21 1.543-16.336 3.661a48.223 48.223 0 0 1 8.903 6.26c7.201 6.422 10.061 12.861 10.364 13.574l.105.248h25.456v-8.073c-.001 0-6.649-15.67-28.492-15.67zm0-7.62c8.073 0 14.246-6.174 14.246-14.246s-6.173-14.246-14.246-14.246-14.246 6.173-14.246 14.246 6.173 14.246 14.246 14.246zm-44.093 3.21a23.21 23.21 0 0 0 4.464-.428c.717-.14 1.419-.315 2.106-.521 1.03-.309 2.023-.69 2.976-1.138a21.099 21.099 0 0 0 3.574-2.133 20.872 20.872 0 0 0 5.515-6.091 21.283 21.283 0 0 0 2.121-4.823 22.16 22.16 0 0 0 .706-3.193c.16-1.097.242-2.224.242-3.377s-.083-2.281-.242-3.377a22.778 22.778 0 0 0-.706-3.193 21.283 21.283 0 0 0-3.272-6.55 20.848 20.848 0 0 0-4.364-4.364 21.099 21.099 0 0 0-3.574-2.133 21.488 21.488 0 0 0-2.976-1.138 22.33 22.33 0 0 0-2.106-.521 23.202 23.202 0 0 0-4.464-.428c-12.299 0-21.705 9.405-21.705 21.704 0 12.299 9.406 21.704 21.705 21.704zM145.629 131a36.739 36.739 0 0 0-1.2-1.718 39.804 39.804 0 0 0-3.367-3.967 41.481 41.481 0 0 0-3.442-3.179 42.078 42.078 0 0 0-5.931-4.083 43.725 43.725 0 0 0-3.476-1.776c-.036-.016-.069-.034-.104-.05-5.692-2.581-12.849-4.376-21.746-4.376-8.898 0-16.055 1.795-21.746 4.376-.196.089-.379.185-.572.276a43.316 43.316 0 0 0-3.62 1.917 42.32 42.32 0 0 0-5.318 3.716 41.501 41.501 0 0 0-3.443 3.179 40.632 40.632 0 0 0-3.366 3.967c-.452.61-.851 1.186-1.2 1.718-.324.493-.6.943-.841 1.351l-.061.101a27.96 27.96 0 0 0-.622 1.119c-.325.621-.475.975-.475.975v11.692h82.53v-11.692s-.36-.842-1.158-2.195a35.417 35.417 0 0 0-.842-1.351z"]{
    fill: #767D92 !important;
}

html[dir] ._3p0T6 {
    background-color: #767D92 !important;
}

html[dir=ltr] ._2DxRd {
    margin-left: 0 !important;
}

html[dir] ._2DxRd {
    border-top-color: #767D92 !important;
}

._2F_Gi ._3I7nT path {
    fill: #767D92 !important;
}

html[dir] ._26JG5+._26JG5 ._27Ie2, html[dir] ._26JG5:hover+._26JG5:before {
    border-top: none !important;
}

html[dir=ltr] ._2i7Ej {
    border-left: none !important;
}

._1ygtt, ._3MbsG {
    border-right-color: #081B33 !important;
}

._1ygtt {
    border-bottom-color: #081B33 !important;
}

html[dir] .lC2xi {
    background-color: rgba(8, 27, 51, .6) !important;
}

html[dir] ._8C3uJ {
    border: 5px dashed rgba(255, 255, 255, .3) !important;
}

._8C3uJ {
    color: rgba(255, 255, 255, .3) !important;
}

html[dir] ._5UNoc ._3hnO5 {
    border-bottom-color: #B8860B !important;
}

html[dir=ltr] ._3fs0K {
    border-left-color: #152642 !important;
}

._3Ux6T span[data-icon="star"] path, ._2aUit ._3f5U8 span[data-icon="x"] path, .qfKkX span[data-icon="x"] path, ._3j8Pd div[role="button"] span[data-icon="chat"] path, ._3j8Pd div[role="button"] span[data-icon="menu"] path, span[data-icon="search"] path, span[data-icon="status-dblcheck"] path, ._1mGV6 span[data-icon="down"] path, span[data-icon="status-image"] path, span[data-icon="status-location"] path, ._3j8Pd span[data-icon="bubble"] path, ._3j8Pd span[data-icon="star-btn"] path, ._3j8Pd span[data-icon="forward"] path, ._3j8Pd span[data-icon="download"] path, ._3j8Pd span[data-icon="x-viewer"] path, span[data-icon="chevron-right-text"] path, ._370iZ span[data-icon="status-location"] path, ._370iZ span[data-icon="msg-dblcheck"] path, ._3M-N- span[data-icon="send"] path, span[data-icon="down-context"] path, .OWYLS div[role="button"] span[data-icon="x"] path, button[class="hjJpn"] span[data-icon="ptt"] path, ._30prC span[data-icon="pencil"] path, div[role="button"] span[data-icon="clip"] path, ._3j8Pd span[data-icon="status-v3-unread"] path[d="M12.072 1.761a10.05 10.05 0 0 0-9.303 5.65.977.977 0 0 0 1.756.855 8.098 8.098 0 0 1 7.496-4.553.977.977 0 1 0 .051-1.952zM1.926 13.64a10.052 10.052 0 0 0 7.461 7.925.977.977 0 0 0 .471-1.895 8.097 8.097 0 0 1-6.012-6.386.977.977 0 0 0-1.92.356zm13.729 7.454a10.053 10.053 0 0 0 6.201-8.946.976.976 0 1 0-1.951-.081v.014a8.097 8.097 0 0 1-4.997 7.209.977.977 0 0 0 .727 1.813l.02-.009z"], ._1tyVr span[data-icon="settings-notifications"] path, ._1tyVr span[data-icon="settings-wallpaper"] path, ._1tyVr span[data-icon="settings-blocked"] path, ._1tyVr span[data-icon="settings-help"] path, ._1tyVr span[data-icon="add-user"] path, ._8icek span[data-icon="x-viewer"] path, div[role="button"] span[data-icon="search-alt"] path, ._2VVfP span[data-icon="lock-small"] path, .-bh0C span[data-icon="recalled-out"] path, span[data-icon="status-video"] path, span[data-icon="add-alt"] path, span[data-icon="msg-check"] path, span[data-icon="audio-play"] path, span[data-icon="status-check"] path, span[data-icon="status-ptt-gray"] path, span[data-icon="audio-pause"] path, span[data-icon="pinned"] path, span[data-icon="forwarded"] path, span[data-icon="sticker-placeholder"] path, span[data-icon="forward"] path,span[data-icon="copy"] path,span[data-icon="revoke"] path, span[data-icon="back"] path {
    fill: #ffffff !important;
}

span[data-icon="ptt-out-gray"] path[d="M9.217 24.401c-1.158 0-2.1-.941-2.1-2.1v-2.366c-2.646-.848-4.652-3.146-5.061-5.958l-.052-.357-.003-.081a2.023 2.023 0 0 1 .571-1.492c.39-.404.939-.637 1.507-.637h.3c.254 0 .498.044.724.125v-6.27A4.27 4.27 0 0 1 9.367 1a4.27 4.27 0 0 1 4.265 4.265v6.271c.226-.081.469-.125.723-.125h.3c.564 0 1.112.233 1.501.64s.597.963.571 1.526c0 .005.001.124-.08.6-.47 2.703-2.459 4.917-5.029 5.748v2.378c0 1.158-.942 2.1-2.1 2.1h-.301v-.002z"] {
    fill: #B8860B !important;
}

span[data-icon="ptt-out-gray"] path[d="M9.367 15.668a2.765 2.765 0 0 0 2.765-2.765V5.265a2.765 2.765 0 0 0-5.529 0v7.638a2.764 2.764 0 0 0 2.764 2.765zm5.288-2.758h-.3a.64.64 0 0 0-.631.598l-.059.285a4.397 4.397 0 0 1-4.298 3.505 4.397 4.397 0 0 1-4.304-3.531l-.055-.277a.628.628 0 0 0-.629-.579h-.3a.563.563 0 0 0-.579.573l.04.278a5.894 5.894 0 0 0 5.076 4.978v3.562c0 .33.27.6.6.6h.3c.33 0 .6-.27.6-.6V18.73c2.557-.33 4.613-2.286 5.051-4.809.057-.328.061-.411.061-.411a.57.57 0 0 0-.573-.6z"] {
    fill: #F1C84C !important;
}

span[data-icon="down-context"] path {
    fill-opacity: 1 !important;
}

html[dir=ltr] ._1qNwV {
    border-left: 1px solid rgba(21, 38, 66, 1) !important;
}

._370iZ span[data-icon="msg-dblcheck-ack"] path,span[data-icon="msg-dblcheck-ack-light"] path, ._1oNFt path, ._3j8Pd span[data-icon="status-v3-unread"] path[d="M19 1.5a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"], ._2fF63 span[data-icon="status-dblcheck-ack"] path, ._2wn58 svg path, ._1DnDx span[data-icon="checkbox-round-checked"] path[d="M10 .25c5.385 0 9.75 4.365 9.75 9.75s-4.365 9.75-9.75 9.75S.25 15.385.25 10 4.615.25 10 .25z"] {
    fill: #DAA520 !important;
}

._1Zo-R {
    border-color: rgba(255, 255, 255, .50)!important;
}

html[dir=ltr] ._15CAo._3EQsG {
    background: linear-gradient(90deg, hsla(94, 78%, 87%, 0) 0, #2F4562 50%) !important;
}

html[dir=ltr] ._15CAo._2Nkc4 {
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #2F4562 50%) !important;
}

html[dir] ._2a2hS {
    background-color: #ffffff !important;
}

.XqrVN {
    stroke: #DAA520 !important;
}

html[dir=ltr] ._1_keJ {
    border-left-color: #081B33 !important;
}

html[dir=ltr] ._1F9Ap, html[dir=rtl] ._1F9Ap {
    text-shadow: 0px 0px 0.5px #ffffff !important;
}

._1F9Ap:before {
    color: #767D92 !important;
}

html[dir] ._1AUdd._1SsXF, html[dir] ._3qblR._1SsXF, html[dir] ._2a6mc,html[dir] ._1o6AT ._1mrMQ, html[dir] ._3cukQ ._1mrMQ {
    background-color: #506680 !important;
}

@media screen and (min-width: 1301px) {
    html[dir=ltr] ._3fs0K {
        border-right-color: #152642 !important;
    }
}

@media screen and (min-width: 1301px) {
    .two ._1jxtm {
        flex: 71% !important;
    }
}

/*Input Type Range*/

._38Akx ._30LFW::-webkit-slider-runnable-track {
    /*Circle Right*/
    background-color: #F1C84C !important;
}

._38Akx ._30LFW::-webkit-slider-thumb {
    /*Circle*/
    background-color: #B8860B !important;
}

._38Akx ._1N8Pv {
    /*Circle Left*/
    background-color: #B8860B !important;
}

/*Input Type Range*/

html[dir] ._1PENu {
    border-top: 1px solid #506680 !important;
}

html[dir=ltr] ._30sf0 {
    border-left: none !important;
}

html[dir] .FPZFa {
    border: 1px solid #DAA520 !important;
}

html[dir] .I72vi {
    background-color: #152642 !important;
}

.I72vi {
    overflow: auto !important;
}

html[dir] ._2RT36 {
    border: 5px solid #ffffff;
}